* {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(255, 255, 255);
}

.game {
    margin: 100px auto 0;
    padding: 30px;
    background: rgb(196, 159, 228);
    width: 90%;
    max-width: 600px;
    border-style: solid;
    border-width: 6px;
}

.quiz h1 {
    font-family: 'Arvo', sans-serif;
    font-size: 25px;
    color: #000000;
    font-weight: 600;
    border-bottom: 1px solid #43048a;
    padding-bottom: 30px;
}

.quiz h2 {
    margin-bottom: 13px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
}

.btn {
    background: #fff;
    color: #43048a;
    font-weight: 500;
    width: 50%;
    border: 1px solid #43048a;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover:not([disabled]) {
    background: #43048a;
    color: #fff;

}

.btn:disabled {
    cursor: no-drop;
}

#next-page-btn {
    background: #43048a;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: #7fd583;
}

.incorrect {
    background: #e96a6a;
}